.media-icon {
  width: 150px;
  height: 150px;
  padding: 5px;
  display: inline-block;
  position: relative;
  label {
    top: 0;
    right: 0;
    margin: 0;
    position: absolute;
  }
  .media-thumbnail {
    height: 100%;
    display: flex;
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    img {
      width: 100%;
      height: 100%;
      padding: 15px;
    }
  }
}
.media-list {
  height: calc(100% - 72px);
  overflow-y: scroll;
}
.med_file_name {
  width: calc(100% - 10px);
  bottom: 0;
  left: 5px;
  position: absolute;
  p {
    color: #fff;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    padding: 4px 10px;
    word-break: break-all;
    background: #000000b3;
  }
}
.doc-preview, .photo-preview {
  position: relative;
  .remove-btn {
    width: 35px;
    height: 35px;
    min-width: 0 !important;
    right: 0px;
    padding: 0 !important;
    position: absolute;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

/* Media library page */
.media_library {
  .media-list {
    height: auto;
    overflow-y: inherit;
  }
}
